body {
	background-image: url("../images/seinfeld-wallpapers.jpg");
	text-align: center;
}

h1 {
	font-size: 48px;
	padding: 40px;
}

#container {
	max-width: 980px;
	margin: 0 auto;
}

.startButton {
	padding: 20px;
	background-color: lightblue;
	margin-top: 50px;
	font-size: 24px;
	color: brown;
}

.timeRemaining {
	font-size: 24px;
}

.question {
	font-size: 24px;
}

p:hover { 
    background-color: lightgray;
}

p {
	font-size: 36px;
}

.gameOver {
	font-size: 48px;
}

.correctAnswers, .wrongAnswers {
	font-size: 36px;
}

/*.answerPicture {
	border: 1px solid black;
}*/